.addForm {
  width: 250px;
  height: 300px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid black;
  border-radius: 10px;
}

.formLabel {
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 15px;
}

.formInput {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;

  border: 2px solid lightskyblue;
  border-radius: 10px;
  outline: none;
}

.formBtn {
  padding: 10px 40px;

  border: 1px solid grey;
  border-radius: 5px;

  background-color: lightgreen;

  cursor: pointer;
}
