.filterLabel {
  color: #0004ff;
  font-size: 24px;
}

.filterInput {
  display: block;
  margin-top: 10px;
  border-color: #0004ff;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 18px;
  width: 300px;
}
