.filterLabel {
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 15px;
}

.filterInput {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;

  text-transform: capitalize;
  border: 2px solid lightskyblue;
  border-radius: 10px;
  outline: none;
}
