.contact-form {
  display: flex;
  flex-direction: column;

  gap: 16px;
  border: 1px solid black;
  max-width: 335px;
  padding: 20px;
  margin-bottom: 40px;
}

.contact-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
}

.contact-input {
  font-size: 18px;
  outline-color: blue;
  width: 300px;
}

.contact-btn {
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--trans-hv);
}

.contact-btn:hover {
  background-color: aquamarine;
}
