.contactsList {
  width: 367px;
  max-width: 100%;
  margin: 0;
}

.contactsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactsName {
  text-transform: capitalize;
}

.contactsBtn {
  background: #fff;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 5px;
  color: red;
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  transition: background-color var(--trans-hv);
}

.contactsBtn:hover {
  background-color: red;
  color: white;
}
